<!doctype html>
<html class="no-js" ng-app="couchDbUserManagementApp">
  <head>
    <meta charset="utf-8">
    <title>CouchDB User Management App</title>
    <meta name="description" content="">

    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="AppCtrl" ng-show="ready" class="ng-hide">
    <header>
      <div class="container">
        <h3>
          CouchDB User Management App
          <small>@@VERSION@@</small>
        </h3>
      </div>
    </header>

    <div class="main container" ng-hide="currentUser">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 well">
          <form class="signInForm" ng-submit="signIn()">
            <h1>
              Sign in as CouchDB Admin
            </h1>
            <div class="alert alert-danger" ng-show="signInError">
              <strong>{{signInError.name}}:</strong>
              {{signInError.message}}
            </div>
            <div class="form-group">
              <label for="signIn-inputCouchDbUrl">CouchDB URL</label>
              <input type="url" class="form-control" id="signIn-inputCouchDbUrl" placeholder="Enter CouchDB Url" ng-model="couchDbUrl">
            </div>
            <div class="form-group">
              <label for="signIn-inputUsername">Username</label>
              <input type="text" class="form-control" id="signIn-inputUsername" placeholder="Enter Admin Username" ng-model="username">
            </div>
            <div class="form-group">
              <label for="signIn-inputPassword">Username</label>
              <input type="password" class="form-control" id="signIn-inputPassword" placeholder="Enter Admin Password" ng-model="password">
            </div>
            <p>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </p>
          </form>
        </div>
      </div>
    </div>

    <div class="main container" ng-show="currentUser">
      <div class="ng-hide" ng-show="users">
        <p class="actions">
          <button class="btn btn-default pull-right" ng-click="signOut()">
            <span class="glyphicon glyphicon-off"></span>
            sign out
          </button>

          <button class="btn btn-primary" ng-click="showNewUserForm=!showNewUserForm" ng-class="{active : showNewUserForm}">
            <span class="glyphicon glyphicon-plus"></span>
            add user
          </button>
        </p>

        <div ng-show="showNewUserForm">
          <form class="newUserForm" ng-submit="addUser()">
            <h1>Add new user</h1>
            <div class="form-group">
              <label for="newUser-inputUsername">Username</label>
              <input type="text" class="form-control" id="newUser-inputUsername" placeholder="Enter Username" ng-model="newUserUsername">
            </div>
            <div class="form-group">
              <label for="newUser-inputPassword">Password</label>
              <input type="password" class="form-control" id="newUser-inputPassword" placeholder="Enter Password" ng-model="newUserPassword">
            </div>
            <div class="form-group">
              <label for="newUser-inputText">Roles</label>
              <input type="text" class="form-control" id="newUser-inputText" placeholder="Enter Roles (comma separated)" ng-model="newUserRoles">
              <p class="help-block">Comma-separated list of roles</p>
            </div>
            <p>
              <button type="submit" class="btn btn-primary">Create user</button>
              <button class="btn btn-default" ng-click="cancelNewUser()">Close</button>
            </p>
          </form>
        </div>
        <p class="query">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
            <input class="form-control" ng-model="query" type="search" placeholder="Filter"/>
          </div>
        </p>

        <h2>Users</h2>

        <div class="users">
          <article ng-repeat="user in users | filter:query" ng-class="{active : isOpen(user)}">
            <header ng-click="toggleUser(user)">
              <h4>
                <span class="glyphicon glyphicon-user"></span>
                {{user.username}}
              </h4>
              <p>
                Roles: {{user.roles}}
              </p>
            </header>
            <form class="form" ng-submit="updateUser(user)">
              <div class="pull-right">
                <button class="btn btn-danger" ng-click="removeUser(user, $event)">Remove User</button>
              </div>
              <h1>
                Update {{user.username}}
              </h1>
              <div class="form-group">
                <label for="newUser-inputUsername">Username</label>
                <input type="text" class="form-control" id="newUser-inputUsername" placeholder="Change Username" ng-init="user.newUsername = user.username" ng-model="user.newUsername">
              </div>
              <div class="form-group">
                <label for="newUser-inputPassword">Password</label>
                <input type="password" class="form-control" id="newUser-inputPassword" placeholder="Change Password" ng-model="user.newPassword">
              </div>
              <div class="form-group">
                <label for="newUser-inputText">Roles</label>
                <input type="text" class="form-control" id="newUser-inputText" placeholder="Change Roles (comma separated)" ng-init="user.newRoles = user.roles.join(', ')" ng-model="user.newRoles">
                <p class="help-block">Comma-separated list of roles</p>
              </div>
              <p>
                <button type="submit" class="btn btn-primary">Update user</button>
                <button class="btn btn-default" ng-click="toggleUser(user, $event)">Close</button>
              </p>
            </form>
          </article>
        </div>

        <h2>Databases</h2>

        <div ng-hide="databases">
          loading...
        </div>
        <div class="databases" ng-show="databases">
          <article ng-repeat="database in databases | filter:query">
            <header>
              <h4>
                <span class="glyphicon glyphicon-folder-close"></span>
                {{database.name}}
              </h4>
              <table class="table">
                <tr ng-if="database.admins.names.length">
                  <th>admins.names</th>
                  <td>{{database.admins.names.join(', ')}}</td>
                </tr>
                <tr ng-if="database.admins.roles.length">
                  <th>admins.roles</th>
                  <td>{{database.admins.roles.join(', ')}}</td>
                </tr>
                <tr ng-if="database.members.names.length">
                  <th>members.names</th>
                  <td>{{database.members.names.join(', ')}}</td>
                </tr>
                <tr ng-if="database.members.roles.length">
                  <th>members.roles</th>
                  <td>{{database.members.roles.join(', ')}}</td>
                </tr>
              </table>
            </header>
          </article>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the <a href="http://hood.ie">Hoodie</a> team</p>
      </div>
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/services/database.js"></script>
    <script src="scripts/controllers/app-controller.js"></script>
    <script src="scripts/filters/highlight.js"></script>
    <!-- endbuild -->
</body>
</html>
